.item_none_null-main-contrainer {
    display: flex;
    padding: 61px 153px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 47px;
    border-radius: 35px;
    border: 1px solid #000;
    background: #211414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item_none_null-main-contrainer p {
    color: #DCDCDC;
    font-family: peter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.item_none_null-main-contrainer a {
    color: #BABABA;
    font-family: peter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}