.left{
    float: left;
    height: 100%;
    width: 0;
    display: flexbox;
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    transition: width 0.5s ease; 
    padding-top: 60px;
    
}
.img{
    max-width: 20%;
    cursor: pointer;
    display: flexbox;
}
.d{
    font-size: large;
    word-wrap: break-word;
    justify-items: center;
    -webkit-text-size-adjust: none;
}
.menutop{
    width: 15%;
    display: flex;
    position: fixed;
    z-index: 1;
    align-items: center;
    text-align: right;
    padding-bottom: 4px;
    transition: background-color 0.5s ease;
}
.borderBu{
    border-top: 1px solid rgb(167, 167, 167);
}
.white{
    color: white;
}
.black{
    color: rgba(0,0,0,0);
    transition: color 0.3s ease;
    
}
.left.open {
    /* สไตล์ของเมนูเมื่อเปิดอยู่ */
    /* ตัวอย่าง */
    width:15%; /* กำหนดความกว้างของเมนูเมื่อเปิด */
    border-right: 2px solid #969696;
}
.menu-web{
    padding: 10px;
    font-size: medium;

}
.black.open{
    color: black;
}