.share-list-container-main{
    background: rgb(59, 51, 54);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: rgb(161, 211, 255);
    gap: 10px;
}
.share-list-container-main .rowtab{
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(112, 89, 89);
    border-radius: 10px;
    justify-content: space-between;
}
.share-list-container-main .rowtab .g{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.share-list-container-main .rowsize{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-right: 2px solid rgb(112, 89, 89);
    word-break: break-all;
}
.buttonlist{
    height: 80%;
    background-color: rgb(221, 98, 98);
    border-radius: 5px;
    border: 2px solid rgb(99, 49, 49);
}
.buttonlist:hover{
    height: 80%;
    background-color: rgb(182, 55, 55);
    border-radius: 5px;
    border: 2px solid rgb(112, 47, 47);
}
.share-list-container-main .rowsizes{
    display: flex;
    flex-direction: row;
    padding:0 10px;
    border-left: 2px solid rgb(112, 89, 89);
}
