.m-menu-contrainer{
    bottom: 0;
    height: 10%;
    position: absolute;
    width: 100%;
    background-color: rgb(52, 3, 92);
    align-items: center;
    display: flex;
    flex-direction: row;
}
.m-menu-contrainer  .inner-contraier{
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16%;
    justify-content: center;
    padding: 5px;
    grid-column-gap: 20px;
}
.inner-contraier img{
    width: 100%;
    border-radius: 50%;
    transform: translateY(0px);
    transition: 0.5s;
    background-color: rgb(255, 255, 255,0.05);
}
.inner-contraier img:hover{
    background-color: rgb(255, 255, 255);
    transform: translateY(-20px);
}

.inner-contraier img.f{
    transform: translateY(-30px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 6px 10px rgb(235, 135, 230);
}
@media (min-width: 768px)  {
    .inner-contraier img{
        width: 30%;
        border-radius: 50%;

    }
    .inner-contraier img:hover{
        background-color: rgb(255, 255, 255);
    }
}