.body_webMain {
    box-sizing: border-box;
    overflow-y: auto;
    padding: 20px;
    width: 80%;
    height: 100%;
    background: #160D0D;
    right: 0;
    position: absolute;
    gap: 30px;
    transition:  width 0.5s ease;
    word-wrap: break-word;
}
.body_webMain.full{
    width: 100%;
}
.body_webMain-n{
    display: flex;
    flex-direction: column;
    gap: 30px;
    word-wrap: break-word;
}
.body_webMain img{
    flex-shrink: 0;
    width: 15%;

}