.Menu_web {
    background: #04061F;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -40%;
    box-sizing: border-box;
    transition: left 0.5s ease;
    padding: 49px;
    padding-top: 130px;
    z-index: 0;
    overflow-x: auto;

}

.Menu_web.open {
    left: 0; /* เลื่อนเมนูเข้ามาแสดง */
}

.Menu_web.close {
    left: -40%; /* เลื่อนเมนูออกจากหน้าจอ */
 /* ลบการใส่ padding เมื่อปิดเมนู */
} 
h2.menu-web_fontwhite {
    color: white;
}