.list-state-main-contrainer {
    display: grid;
    grid-template-columns: 15% 15% 70%;
    padding: 5px;   
    gap: 2px;
    flex-wrap: wrap;
}

.list-state-main-contrainer .rowtable {
    padding: 10px;
    border: 2px solid rgb(112, 89, 89);
    text-align:center;
    
}
@media (max-width: 768px) { /* ปรับตามขนาดหน้าจอตามที่คุณต้องการ */
    .list-state-main-contrainer {
      grid-template-columns: 100%; /* กำหนดให้ Grid เปลี่ยนเป็นคอลัมน์เดียวเมื่อหน้าจอเล็ก */
      border-bottom: 5px solid rgb(0, 0, 0);
    }
}