.item-key-have-container {
    display: flex;
    height: 600px;
    width: 70%;
    padding: 20px;
    flex-direction: column;
    gap: 34px;
    flex-shrink: 0;
    border-radius: 35px;
    border: 1px solid #000;
    background: #211414;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.item-key-have-container .dddd{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 34px;
}
.dddd img{
    width: 12%;
}
.item-key-have-container a {
    display: block;
    color: #FFF;
    font-family: peter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    
}

.item-key-have-state {
    color: #FFF;
    display: flex;
    padding: 7px 22px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #000;
    background: #348DDF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.item-key-have-button {
    display: flex;
    padding: 100px 67px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 150px;
    border-radius: 64px;
    background: #4F4F4F;
    cursor: pointer;
}
.item-key-have-button:hover{
    background: #7f7f85;
}
.item-key-have-button:active{
    background: #2f2f49;
}

.item-key-have-button-f {
    display: flex;
    padding: 100px 67px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 150px;
    border-radius: 64px;
    background: #f33a3a;
    cursor: pointer;
}
.item-key-have-button-f:hover{
    background: #e28181;
}
.item-key-have-button-f:active{
    background: #630303;
}