.login_web_inside {
    display: flex;
}
.login_web_inside_right {
    color: bisque;
    
}

.login_web_inside_right_in {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(17, 1, 15);
    opacity: 1;
    transition: opacity 1s ease;
    z-index: 1;
}
.login_web_inside_right_in.close{
    opacity: 0.6;
    z-index: 0;
}
/* ส่วนของกรอกข้อมูลอีเมลและรหัสผ่าน */
.login-web-form-section form {
    display: flex;
    flex-direction: column;
    
}
.login-web-form-section .aa{
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.login-web-form-section .login-web-input-container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.login-web-form-section label {
    font-weight: bold;
}

.login-web-form-section input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;

}

.login-web-form-section button {
    background-color: #1877f2;
    color: white;
    border: none;
    margin-top: 5px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

.login-web-form-section button:hover {
    background-color: #1464c2;
}

.login-web-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.login-web-forgot-password {
    color: #1877f2;
    cursor: pointer;
    text-decoration: none;
}

.login-web-signup-link {
    color: #1877f2;
    cursor: pointer;
    text-decoration: none;
}