.Menu_web {
    background: #04061F;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -20%;
    box-sizing: border-box;
    transition: left 0.5s ease;
    padding-top: 130px;
    z-index: 0;
    overflow-x:auto;
    display: flex;
    flex-direction: column;
    align-items:normal;
    
    font-family: peter;

}

.Menu_web.open {
    left: 0;
    /* เลื่อนเมนูเข้ามาแสดง */
}

.Menu_web.close {
    left: -20%;
    /* เลื่อนเมนูออกจากหน้าจอ */
    /* ลบการใส่ padding เมื่อปิดเมนู */
}

h2.menu-web_fontwhite {
    color: white;
}

.d {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    flex: 1 0 0;
    width: 100%;
}

.lp {
    width: 36px;
    height: 106px;
    flex-shrink: 0;
    bottom: 0;
    background: #F00;
}